/.idea/.idea.WebApplication1/.idea/.gitignore
/WebApplication1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/WebApplication1/obj/Debug/net8.0/apphost
/WebApplication1/bin/Debug/net8.0/appsettings.Development.json
/WebApplication1/bin/Debug/net8.0/appsettings.json
/.idea/.idea.WebApplication1/.idea/indexLayout.xml
/WebApplication1/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/WebApplication1/bin/Debug/net8.0/Microsoft.OpenApi.dll
/WebApplication1/obj/Debug/net8.0/staticwebassets/msbuild.build.WebApplication1.props
/WebApplication1/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.WebApplication1.props
/WebApplication1/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.WebApplication1.props
/WebApplication1/obj/project.assets.json
/WebApplication1/obj/project.nuget.cache
/WebApplication1/obj/project.packagespec.json
/WebApplication1/obj/rider.project.model.nuget.info
/WebApplication1/obj/rider.project.restore.info
/WebApplication1/obj/Debug/net8.0/staticwebassets.build.json
/WebApplication1/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/WebApplication1/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/WebApplication1/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/.idea/.idea.WebApplication1/.idea/vcs.xml
/WebApplication1/obj/Debug/net8.0/WebAppli.7D14BD69.Up2Date
/WebApplication1/bin/Debug/net8.0/WebApplication1
/WebApplication1/obj/Debug/net8.0/WebApplication1.AssemblyInfoInputs.cache
/WebApplication1/obj/Debug/net8.0/WebApplication1.assets.cache
/WebApplication1/obj/Debug/net8.0/WebApplication1.csproj.AssemblyReference.cache
/WebApplication1/obj/Debug/net8.0/WebApplication1.csproj.CoreCompileInputs.cache
/WebApplication1/obj/Debug/net8.0/WebApplication1.csproj.FileListAbsolute.txt
/WebApplication1/obj/WebApplication1.csproj.nuget.dgspec.json
/WebApplication1/obj/WebApplication1.csproj.nuget.g.props
/WebApplication1/obj/WebApplication1.csproj.nuget.g.targets
/WebApplication1/bin/Debug/net8.0/WebApplication1.deps.json
/WebApplication1/bin/Debug/net8.0/WebApplication1.dll
/WebApplication1/obj/Debug/net8.0/ref/WebApplication1.dll
/WebApplication1/obj/Debug/net8.0/refint/WebApplication1.dll
/WebApplication1/obj/Debug/net8.0/WebApplication1.dll
/WebApplication1/obj/Debug/net8.0/WebApplication1.GeneratedMSBuildEditorConfig.editorconfig
/WebApplication1/obj/Debug/net8.0/WebApplication1.genruntimeconfig.cache
/WebApplication1/obj/Debug/net8.0/WebApplication1.GlobalUsings.g.cs
/WebApplication1/obj/Debug/net8.0/WebApplication1.MvcApplicationPartsAssemblyInfo.cache
/WebApplication1/obj/Debug/net8.0/WebApplication1.MvcApplicationPartsAssemblyInfo.cs
/WebApplication1/bin/Debug/net8.0/WebApplication1.pdb
/WebApplication1/obj/Debug/net8.0/WebApplication1.pdb
/WebApplication1/bin/Debug/net8.0/WebApplication1.runtimeconfig.json
/WebApplication1.sln
